[2016-12-23 12:54] hvr opened #1 "Compile error w/ GHC 7.10.3"
When compiling web3 w/ GHC 7.10.3, the default install-plan runs into the following compile failure (I haven't investigated more yet):

[code]

[2016-12-24 12:21] akru commented on #1
Hello! Thank you for the issue!

Currently `web3` is fully tested only with ghc 8.0.1.
High difference between TH versions makes hurd to support wide range of ghc versions.

[2016-12-24 18:44] hvr commented on #1
@akru I've filed a PR which should address this by effectively limiting support to GHC 8.0.1 as that's the version you seem to  actively developing & testing against.

[2016-12-26 10:13] akru commented on #1
Pretty nice! Thank you!

[2016-12-26 10:13] #1 closed

[2017-07-21 17:23] edevil opened #3 "More examples needed"
Could you provide some more usage examples, please?

Specifically something that does not use the DefaultProvider so that we can specify the rpc URI. Does this lib support an IPC path as well?

[2017-07-23 11:44] akru commented on #3
Hey!

For example, the real word project usage is
https://github.com/airalab/aira-IoT/blob/master/docker/market-switch/app/Main.hs#L31

No, library support JSON-RPC only, most popular Ethereum nodes provide it.

[2017-07-23 17:16] edevil commented on #3
Thanks! That helped.

[2017-07-23 17:16] #3 closed

[2017-07-24 20:42] kejace opened #4 "Parsing JSON"
In order to parse the output of `truffle compile`, I had to zoom into the `abi` part of the JSON file. See this PR for details: https://github.com/kejace/hs-web3/pull/1/files
What is the intended input for `quoteAbiDec`?

[2017-07-25 08:31] akru commented on #4
The input for `quoteAbiDec` is clean ABI given by `solc`, for example:
https://github.com/airalab/core/blob/master/abi/Owned.json

Your approach can be very useful as option when clean ABI cannot be parsed,
for truffle output, as you show.

[2017-08-23 13:17] blinky3713 opened #5 "Can't get events to work for basic contract"
First of all, this library is amazing, but I'm having a few errors when getting started. I have the following extremely simple contract

[code]
I followed some of [your examples](https://github.com/airalab/aira-IoT/blob/master/docker/market-switch/app/Main.hs) and created the following code to just print all the incoming events to the console.

[code]

However, when I launch the application, I get

[2017-08-23 13:23] blinky3713 commented on #5
I should also mention that I am able to successfully change the state of this contract and produce events, and that the contract address I am passing as an environment variable is correct.

[2017-08-23 21:26] martyall commented on #5
1.6

[2017-08-23 21:27] blinky3713 commented on #5
yes, it's 1.6

[2017-08-25 09:45] blinky3713 commented on #5
I figured out the problem. Geth stopped using increasing natural numbers for it's filter ids and started using some other kind of random hex string [see here](https://github.com/ethereum/go-ethereum/blob/release/1.6/rpc/utils.go#L239). This caused the underlying `Int` in `FilterId` to overflow, leading to either negative filter id's, or nonexistent ones. The problem is fixed if you change `FilterI

[2017-08-27 16:18] blinky3713 opened #6 "Event topic formatting is not really correct."
take the following example contract

[code]

the splice dump for the generated `Event` instance is

[code]

This is in incorrect for geth, and I presume parity as well because of [this](http://solidity.readthedocs.io/en/develop/abi-spec.html#events). The problem is that the topic ` [Just "0xa32bc18230dd172221ac5c4821a5f1f1a831f27b1396d244cdd891c58f132435", Nothing]` serializes to

[code]
indicatin

[2017-08-30 07:16] akru commented on #6
Hi! Thank you for the great work!

Waiting for the pull request of this.

[2017-08-30 07:28] akru commented on #5
So, can you test the fixed version with geth?

[2017-08-31 00:08] blinky3713 commented on #5
Yes I can verify that this works together with the changes I'm submitting for #6

[2017-08-31 03:12] blinky3713 opened #8 "testing"
It would be good to get some unit testing, something like what web3js does in their pre-1.0 testing using the `FakeHttpProvider` just to verify correct formatting of types, transactions, event topics, etc. I understand how this is not really needed as badly as it would be for them, but still I think it would be better to have them. Would you be open to a pr in this direction?

[2017-08-31 13:37] akru commented on #8
Yes, you are absolutely right, glad to hear this!
What unittest package you want to use?

[2017-08-31 14:04] akru commented on #4
Hi again! Do you want to pull changes to upstream?

[2017-09-01 23:17] #6 closed

[2017-09-01 23:18] #5 closed

[2017-09-11 11:53] akru commented on #4
So, I close this, reopen as you need it.

[2017-09-11 11:53] #4 closed

[2017-09-13 07:38] akru opened #10 "Offnode transaction signer"
Currently library use full Ethereum nodes (like parity & geth) to sign & send transactions. It would be pretty good to add transaction signer into library for using public Ethereum nodes, like infura.

JS alternative is https://github.com/ethjs/ethjs-provider-signer.

[2017-10-22 16:56] aupiff opened #14 "Module re-organization"
From the point of view of Haskell, many RPC functions have non-standard names. I propose that these non-standard functions, e.g. `eth_blockNumber`, be placed in an `Internal` module and be made available to users of the library via an `Eth` module thus: `Eth.blockNumber`.

[2017-10-22 17:02] aupiff opened #15 "Create descriptive types for RPC call arguments and return types."
Already, `Address` serves as a very descriptive type in the `web3` library. I propose we add additional types such as `UInt256`, `Bytes32` etc. I list three versions of `eth_getBalance` below, each more descriptive than the last.

CURRENT: `eth_getBalance :: Provider a => Address -> CallMode -> Web3 a Text`
OK: `eth_getBalance :: Provider a => Address -> CallMode -> Web3 a Integer`
GOOD: `eth_getB

[2017-10-23 10:57] akru commented on #14
I'm fully support this proposal, but keep in mind that currently `Interal` module contains two functions (`toLowerFirst`, `toUpperFirst`) that used in template system and imported in many places.

[2017-10-23 11:14] akru commented on #15
You are absolutely right, it grows readability and safety.

But, for example, `Bytes32` already implemented in https://github.com/airalab/hs-web3/blob/master/src/Network/Ethereum/Web3/Encoding/Bytes.hs as `BytesN 32`. It can be potentially described as type synonym

[code]

So, can we prepare table with EVM types and its synonyms when it already exists?

For example:

| EVM | Haskell | hs-web3 |
|

[2017-10-23 15:26] aupiff opened #16 "Fix intermittent Travis failures."
Haven't investigated the cause yet, but Travis fails intermittently while building `web3`...

[code]

[2017-10-24 01:40] aupiff opened #17 "resolve bugs with non-array [`bytes1`...`bytes32`] types."
Any types `bytes1` ... `bytes32` in an an abi currently cause an error to be thrown. These types are neither static nor dynamic bytes arrays (both of which are currently supported), and thus must have new types created from them, along with `ABIEncoding`, `Show`, and `EncodingType` instances.

I've started this work [in a branch in my forked repo](https://github.com/aupiff/hs-web3/tree/fix-abi). I

[2017-10-24 02:02] aupiff commented on #17
I've looked at this issue again and I think now that the `BytesN` type is OK, it is just improperly implemented. We probably won't have to create new types. I'll work on this tomorrow.

[2017-10-24 03:28] aupiff opened #18 "fix errors with `Call` Type"
The `Call` type has several optional fields which must be excluded when set to null, at least in my testing with `geth`. This causes issues with using `eth_call`, `eth_estimateGas`, `eth_sendTransaction`, etc.

Observed error:
[code]

The problem has an easy fix which I've already written in one of my local branches. I'll submit a PR tomorrow once I get organized.

[code]

There may be an easier w

[2017-10-24 09:14] akru commented on #17
For type `BytesN` I use [type level literals](https://downloads.haskell.org/~ghc/7.10.1/docs/html/users_guide/type-level-literals.html) approach, `DataKinds` extension should be enabled:

[code]

[2017-10-24 09:21] akru commented on #18
I see fixes for this bug at https://github.com/radisson/hs-web3/commit/3d8eda515e284339712785f034705c9a4579a294 but your solution is more elegant. Can it be implemented only by TH or self written instance is required?

[2017-10-24 17:51] aupiff commented on #17
Ah, of course! My mistake. Thank you.

[2017-10-24 17:51] #17 closed

[2017-10-24 18:12] aupiff commented on #18
We can use TH. There's a option you can pass to `deriveJSON` called `omitNothingFields`. I'll submit a PR for this in a few hours.
[code]

[2017-10-25 14:50] aupiff opened #21 "in many-parameter TH-generated functions, first parameter missing"
I'm having issues with TH-generated functions with many parameters. Somehow, in a function with 10 input parameters, the first of the parameters is discarded; I observe that the first parameter doesn't appear in the `input` field of the generated transaction object, which for a 10 arg function should be 64 * 10 + 8 (methodId) = 648 hex digits long, but using the current version of the code is 64 *

[2017-10-25 15:19] aupiff commented on #21
Sorry for the spam, I experiencing an unrelated issue related to improper conversion to `BytesN`.

[2017-10-25 15:19] #21 closed

[2017-10-25 18:23] #18 closed

[2017-10-25 20:46] akru commented on #16
Latest builds with TravisCI is ok https://travis-ci.org/airalab/hs-web3/jobs/292758033
Looks like temporary problem on TravisCI side.

[2017-10-25 20:46] #16 closed

[2017-10-25 20:59] akru commented on #14
So, as I can see, you proposal is renaming `Network.Ethereum.Web3.{Api ->Eth}` with `eth_` reduction. But `Api` module also contains `web3_` prefixes, and will contains `shh_` in the future. What do you think about it?

[2017-10-25 23:41] aupiff commented on #14
I was thinking that we'd make three new modules: `Network.Ethereum.Web3.Eth`, `Network.Ethereum.Web3.Web3` and `Network.Ethereum.Web3.Shh`.

[2017-10-26 08:29] akru commented on #14
Good, could you prepare PR with changes?

[2017-10-26 12:12] aupiff commented on #14
Yep, I'll finish this today.

[2017-10-26 15:40] aupiff commented on #14
@akru can you merge #13 before I make these module changes so I have all the rpc methods available to reorganize.

[2017-10-26 16:17] akru commented on #14
Oh, you are right, merged.

[2017-10-29 03:59] aupiff commented on #16
@akru could you please reopen this issue?

[2017-10-29 15:13] aupiff commented on #8
What do you think about writing both `geth` and `parity` automated tests? I think we should have a test truffle project whose contracts can be deployed to a local blockchain. This way we can test the TH abi code as well as all the JSON RPC methods.

I currently do `geth` testing by using a bash script like this which calls `truffle migrate`: https://github.com/blockmason/friend-in-debt/blob/master

[2017-10-29 16:35] akru commented on #8
Yes, for testing truffle project can be added to `tests` directory.

In my opinion a good way to start is simple tests like `Eth.getBalance`, but I'm not sure about `geth` in Travis environment. So, we can use Travis cache to store chain.

Also ethereum-testrpc can be used for tests on a par with geth and parity clients.

[2017-10-29 16:40] blinky3713 commented on #8
Our experience at Foam has been to avoid the combination of truffle with testrpc, because truffle is bundled with the solidity-js compiler which is often incompatible with the vm running in testrpc. Instead we opt to use a specialized, ephemeral docker container running a lightweight and fast geth client during testing. If you are interested in exploring this route, our devops engineer @iostat can

[2017-10-29 16:43] blinky3713 commented on #8
That being said, I think the encoding tests should ideally be run against a set of known, correct encodings rather than depending on an live node. It simplifies the situation to what is actually needed. We're developing a purescript-web3 library which is a faithful porting of hs-web3 to purescript which takes this approach based on some stolen examples from web3js and the solidity documentation.

[2017-10-29 19:10] aupiff commented on #8
@blinky3713 yes, please do invite me to view your purescript libraries.

I agree with you about the encoding tests.

[2017-10-29 21:13] blinky3713 commented on #8
@aupiff just sent you an invite for purescript-web3 (the core library) and purescript-web3-generator (plays the role of TH quasiquoter here for automatic code generation from abi)

[2017-10-29 22:20] aupiff commented on #8
@blinky3713 I'm surprised at this comment you made:
```Our experience at Foam has been to avoid the combination of truffle with testrpc, because truffle is bundled with the solidity-js compiler which is often incompatible with the vm running in testrpc. ```

Can that be true? Most of the testing I do involves testrpc and truffle and I've never had trouble with that combination. The `solidity-js` c

[2017-10-30 00:06] blinky3713 commented on #8
I can definitely attest to have had invalid op code errors thrown by testrpc on compiled solidity code that is tested with an isolated dockerized geth 6.7 node, by hand on remix, and that pass on the test networks. Our opinion is that testrpc serves no real purpose if you can run an ephemeral dockerized geth or parity single-node that is currently being used on the live net and has consistent bloc

[2017-10-30 00:20] aupiff commented on #8
@blinky3713 Mmm, I' be curious to investigate that further. I believe what you say, but I'd love to see an example of such bytecode. `testrpc` is very useful to me during development.

`testrpc` is easier to setup than a dockerized `geth` node, and runs much faster. I can run a whole testsuite involving many transactions in 3 seconds; if I had to wait for 3 second blocks, initial startup, account

[2017-11-01 15:46] aupiff opened #24 "Make `_call` and `_sendTransaction` configurable using an argument of type `Call`"
I suggest that both the `_call` and `_sendTransaction` functions of `Contract.hs` should take a `Call` as an argument as opposed to the current scheme of taking an `Address` and `Unit`:

[code]

We should eventually change the types of the fields of the `Call` type to be more descriptive, but that will be done in a future PR. All the fields of the `Call` type are useful in the `_sendTransaction` f

[2017-11-02 12:23] #14 closed

[2017-11-05 09:15] blinky3713 opened #25 "ABIEncoding instance incorrect for tuples."
The `toDataBuilder` method in the `AbiEncoding` instance for tuples in incorrect. It's difficult to explain why in words, but I can try based on particular questions. The problem is in how you are calculating the offset. you can see the example [here](https://github.com/f-o-a-m/purescript-web3/blob/master/test/Web3Spec/Encoding/Containers.purs#L107) in our purescript-web3 tests for which yours wil

[2017-11-05 16:34] akru commented on #25
Thank you for reporting! I’ll check it as soon as possible.

[2017-11-10 09:02] akru commented on #24
So, it's interested case, as I can see your proposal is, for example

[code]

to

[code]

I'm agree with you, but in this case `Call` fields should be more representative.

[2017-11-10 13:11] akru commented on #15
@aupiff, do you make PR with this enchancement?
I want to make release 0.6 of library at next week, do it in this release or not?

[2017-11-10 13:22] akru commented on #8
Tuple encoding tests bench is needed for #25,
as I can see, @blinky3713 use testing framework looks like [hspec](https://hackage.haskell.org/package/hspec).

[2017-11-10 14:10] aupiff commented on #15
@akru Yep, I'll submit a PR for this within the next couple of days so it can be included in your next release.

[2017-11-10 14:12] aupiff commented on #24
@akru, you're right. I'll improve the types of `Call`'s fields and then make this change.

[2017-11-10 23:50] blinky3713 commented on #8
yeah, you could probably almost copy and paste [those tests](https://github.com/f-o-a-m/purescript-web3/blob/master/test/Web3Spec/Encoding/Containers.purs)

[2017-11-13 03:36] aupiff commented on #15
From web3 JSONRPC docs:
[code]
Given the above explanation, I think its necessary to change the `Filter` type to have a field `filterTopics :: !(Maybe [Maybe [Text]])` instead of `filterTopics :: !(Maybe [Maybe Text])`.

[code]

[2017-11-15 03:12] aupiff opened #26 "ABIEncoding incorrect for static arrays"
The following `ABIEncoding` may work for dynamic arrays, but it is incorrect for static arrays with the type `bytes32[3]`, for example. These arrays do not use length parameters.

[code]

If I call a function with the following signature, I don't observe any length arguments in the `calldata` field of the transaction:
[code]

observed `calldata`:
[code]

[2017-11-15 03:43] aupiff commented on #26
This from `TH.hs` must change since there are array types which are not dynamic.

[code]

[2017-11-15 09:35] akru commented on #26
You are absolutely right, but I'm not sure that dynamic list is best representative type for static array.
So, some staff like [sized vectors](https://hackage.haskell.org/package/sized-vector-1.4.3.1/docs/Data-Vector-Sized.html) can be used for this feature.

[2017-11-15 09:40] akru commented on #26
So, this issue looks like particular case of #25.
@blinky3713 on your case, can you see broken encoding on static arrays only, or anything else?

[2017-11-15 19:04] aupiff commented on #26
Yep, I agree about using something like sized vectors. That library seems to be deprecated, however; the library author now suggests using [Data.Sized](https://hackage.haskell.org/package/sized-0.2.1.1/docs/Data-Sized.html). I'll explore a few options today and try to write a fix.

[2017-11-15 22:45] blinky3713 commented on #26
I was more referring to how you calculate offsets in general is incorrect. I can try to put together a basic hspec unit test suite based on the purescript web3 test suite, it should almost be as easy as copy paste

[2017-11-15 22:45] blinky3713 commented on #26
This has more to do with encoding tuples

[2017-11-17 05:53] aupiff opened #28 "int* types improperly encoded & decoded"
Signed types like `int256` should have a separate corresponding Haskell type from `uint`. They must have an `ABIEncoding` instance that properly encodes / decodes two's complement hex strings.

Currently, `-10` will decode as `115792089237316195423570985008687907853269984665640564039457584007913129639926`.

[2017-11-17 06:40] akru commented on #28
Thank you for reporting, looks like is needed addition checks [here](https://github.com/airalab/hs-web3/blob/master/src/Network/Ethereum/Web3/Encoding/Internal.hs#L85).

[2017-11-17 19:13] aupiff commented on #10
To use an offnode signer, one needs to send a private key over HTTP. If a user already has access to a cleartext private key, he may as well sign the transaction himself. I am using a library I wrote for this, [ethereumhs-util](https://github.com/aupiff/ethereumhs-util). By setting a `Provider` to point to Infura or whatever service a user likes, a user can query his account's transaction count (t

[2017-11-18 01:23] akru commented on #10
Great! It seems like web3.js approach.
What do you think about copying Network.Ethereum.Utils with tests to hs-web3? From the first view, troubles can be raised with secp256k1 library department.

[2017-11-18 02:32] aupiff commented on #10
I was thinking that there need to exist at least four different libraries:

1) `ethereum-types` that contains both general ethereum types like `Address`, and more specific Solidity types like `Uint256` and `Int256`. (eventually, we may need to split a piece off into a separate `solidity-types`)

2) `ethereumhs-util` that contains useful cryptographic functions for hashing, pub/privkey manipulation

[2017-11-18 02:56] akru commented on #10
I'm not sure that splitting to more that one repos is good practice at current stage, community of library is very small now. In this scenario we can unfortunately make library without batteries, because maintaining lots of packages burn your time. At current stage I interested in making small stable library for ethereum with batteries included.

[2017-11-18 03:04] aupiff commented on #10
OK, that makes sense. I'll copy `Network.Ethereum.Util` into this library when I'm ready to implement signing.

[2017-11-21 09:11] #24 closed

[2017-11-21 09:13] akru commented on #10
Great thanks for contribution, waiting for you changes.

[2017-12-08 04:44] blinky3713 opened #29 "decoding indexed events is incorrect"
In order to parse an indexed event, it is not enough to simply have the `data` field of the `Change` object, you also will need the `topics` field. See the [definition of the decoding schema](http://solidity.readthedocs.io/en/develop/abi-spec.html#events). This is a pretty serious problem in that ERC20 contracts have indexed events, so this means that you will not be able to parse them correctly.

[2017-12-08 15:06] akru commented on #29
Thank you for reporting!

Genetics in parser/encoder looks good, what changes is needed to adapt your ps code to Haskell?

@aupiff what do you think about this proposal? Do you currently works on encoding bug fixes?

[2017-12-08 15:52] blinky3713 commented on #29
well basically I would mimic the ps set up. This would not change the encoding of any "basic" (i.e. non-tuple) solidity type. Then Tuples will be done generically, and finally the `call` and `sendTx` functions will only require the generic encoding decoding -- see [this](https://github.com/f-o-a-m/purescript-web3/blob/master/src/Network/Ethereum/Web3/Contract.purs#L123) to get an idea of what that

[2017-12-18 15:15] joefiorini opened #30 "Always getting error: "Unable to parse result on `0x`...""
I'm trying to figure this library out. I have some code based loosely on the akru/aira-IoT example I found in another issue (see [the code and ABI I am using](https://gist.github.com/joefiorini/b844e8917fc6e9d5b8f511a43598f795)).

- deploying a simple smart contract to the Ropsten testnet via Remix,
- getting the ABI from the output there
- running `geth --rpc --testnet --rpcapi eth,web3` to proxy

[2017-12-18 17:28] joefiorini commented on #30
Pretty sure I was using the wrong address. Managed to get it working with truffle/ganache locally, getting the address by running `MyContract.deployed().then(inst => MyContract.at(inst.address))` in `truffle develop`.

[2017-12-18 17:28] #30 closed

[2018-01-02 23:52] akru opened #32 "Testing part of custom setup broken"
After stackage LTS upgrade I catch error:

[code]

cause Cabal API changed:
https://hackage.haskell.org/package/Cabal-2.0.1.1/docs/Distribution-PackageDescription.html#t:TestSuite
vs
https://downloads.haskell.org/~ghc/7.0.2/docs/html/libraries/Cabal-1.10.1.0/Distribution-PackageDescription.html#t:TestSuite

@iostat, what do you think about this?

[2018-01-03 04:08] iostat commented on #32
Yeah, the Cabal API is the culprit here. Cabal 2.0 actually makes it much easier to detect which test suites are going to be run, and you can do some `{-# LANGUAGE CPP #-}` in `Setup.hs` or C-preprocessor stuff in `web3.cabal` (have to look into which one it actually is) to have different behaviors depending on the Cabal version being used. I'll get a Cabal 2.0 environment set up and look into thi

[2018-01-03 10:54] #32 closed

[2018-01-09 11:19] #25 closed

[2018-01-09 11:19] #26 closed

[2018-01-09 11:19] #28 closed

[2018-01-09 11:20] #29 closed

[2018-01-09 13:12] akru opened #35 "Win32 build troubles"
According to AppVeyor master branch have build troubles on Windows platform:
https://ci.appveyor.com/project/akru/hs-web3/build/0.6.0.0-136#L643

[2018-01-09 13:14] akru commented on #8
@blinky3713 Is you work on tests complete?

[2018-01-09 15:54] blinky3713 commented on #8
Well I think that this issue is definitely closed. If we wanted more specific tests, we should start a separate issue?

[2018-01-10 05:11] #8 closed

[2018-01-10 07:16] akru commented on #8
Yes, foundation is created.

[2018-01-16 14:40] akru opened #38 "More flexible event listening"
One approach is create multi-parameter `Event` typeclass

[code]

and instances for common event cases like

[code]

and also will be interested event filter conversion instance:

[code]

For this case `event` function type can be presented as:
[code]
and usage case like
[code]

[2018-01-16 14:45] akru commented on #15
In #34 added `IntN`, `UIntN` and sized vector types.

[2018-01-17 08:00] akru commented on #38
@blinky3713 What do you think about it?

[2018-01-17 08:01] akru commented on #10
@aupiff Hi! Do you currently make this feature?

[2018-01-17 18:22] aupiff commented on #10
@akru Hello! I'll make sure to get this done over the weekend.

[2018-01-18 07:54] akru commented on #10
Sounds great! Waiting for your changes, thanks!

[2018-01-19 22:11] blinky3713 commented on #38
I mean, these are certainly described as being valid in the [JSON-RPC docs](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_newfilter) so it seems like a good idea to me even if no one is using them now.

Another thing I would like to propose is that we allow a second `event` like function for handling a list of events with a handler rather than a single event. The reason for this is that then

[2018-01-20 09:53] akru commented on #38
So, in my opinion, latest block event listener can not spawn a lot of events because incoming block have period 10-15 sec.
Another case - read events from block range, e.g. from 10000 to 100000, in this case handlers can be spawned in parallel by event machine, or parallel partial read of block range. It can be interesting for performance of blockchain analyzers.

[2018-01-20 15:09] blinky3713 commented on #38
yeah the 2nd options is more what i had in mind -- during a database restore, or when spinning up a new instance i would like that machine to catch up as fast as possible, meaning I would specify the "window" `in eventMany'` to be several blocks, and i would like to do bullk inserts, or in the case where the processing order doesnt matter i want to do them in parallel.

[2018-01-31 12:38] akru opened #41 "Address checksum"
It will be great to add address checksum checker for `Address` datatype.

[2018-02-27 21:41] blinky3713 opened #42 "Need to reuse request manager"
Currently you are creating a new tls manager for every rpc request.

https://github.com/airalab/hs-web3/blob/master/src/Network/Ethereum/Web3/JsonRpc.hs#L50

This is pretty bad, it's best to share the same manager between requests and between threads if possible as per the library's instructions:

https://hackage.haskell.org/package/http-client-0.1.0.0/docs/Network-HTTP-Client-Manager.html

One so

[2018-02-28 06:22] akru commented on #42
You absolutely right!

One of the point is use ‘Provider’ related type to control execution flow for http-provider, wrap Manager as reader monad, etc.

I’m not sure than reader with Manager in web3 monad is best solution, but as parameter of this it can be.

In my opinion we need some generalization of Provider type class, like another web3 implementations has HTTPProvider, IPCProvider, etc.

[2018-03-01 00:15] blinky3713 commented on #42
I'm not sure I understand. Maybe you could give a sketch here of how application code would look for just HttpProvider with your ideal solution?

[2018-03-01 18:28] termslang opened #43 "sendTx undocumented"
No reliable documentation how you submit a transaction

[2018-03-01 19:22] akru commented on #43
Hi!
As you can see here: http://hackage.haskell.org/package/web3-0.6.0.0/docs/Network-Ethereum-Web3-Contract.html

sendTx accept address, value and abi-encodable entity to send transaction. Transaction encoded and send by JSON-RPC ‘eth_sendTransaction’.

[2018-03-02 07:28] akru commented on #42
So, in my opinion we can incapsulate Json-Rpc communication (over http or ipc) in one module, in this case we don’t need separate IPC calls to module and create different http- and ipc-provider.

According to https://kseo.github.io/posts/2017-01-23-custom-connection-manager-for-http-client.html we can use http-client fo IPC connections too.

In this case we can simple define Web3 as:

newtype Web3

[2018-03-03 04:54] aupiff commented on #10
Sorry for the delay on this feature, I'll do my best to finish by the end of next week.

[2018-03-03 08:06] akru commented on #10
Pretty good @aupiff, thank you!

[2018-03-03 08:09] akru commented on #43
If you have any questions you are free for reopen.

[2018-03-05 20:07] termslang commented on #43
Managed to send a transaction like this:
  let token = "0x4D32DECe5810e15164c36E91d62cE6B16Df4F747"
      to = "0xEb2e0C8e6E2D596ab4C15A1d4Ec16a54c98559c9"
  Right s <- runWeb3 $ return . show =<< transfer token nopay to 100

Now I'm trying to find a way to send data to address 0x00 and I can't find any good example

[2018-03-05 22:26] akru commented on #43
For this purpose in `hs-web3-0.6.*` you can use, for example, instance of ABI encoding like this:
MyContract
[code]

where `MyContract` is data object of your deployed contract, and instance of `ABIEncoding` define contract bytecode (`"cafecafe"`).

[2018-03-06 15:59] termslang commented on #43
‘selector’ is not a (visible) method of class ‘Method’

[2018-03-06 19:33] akru commented on #43
Oops, my mistake, I fix the sample

[2018-03-06 20:00] termslang commented on #43
I'm doing it this way and I'm not getting my contract deployed:

data MyContract = MyContract
instance Method MyContract
instance ABIEncoding MyContract where
  fromDataParser = undefined
  toDataBuilder = const "0x7fe1fffcc..."
main :: IO ()
main = do
  let to = "0x0000000000000000000000000000000000000000"
  tx <- runWeb3 $ sendTx to nopay MyContract
  print tx

https://ropsten.etherscan.io/tx/0x

[2018-03-06 21:49] akru commented on #43
Currently hs-web3 have no method to create new contract like `contract.new` in web3js. You can use raw eth_sendTransaction from `Network.Ethereum.Web3.Eth` module.

So, also you can create proposal(in issue) to add `new` method for contract deploying in pairing with [hs-web3-solidity](https://github.com/airalab/hs-web3-solidity) library for contract compiling.

[2018-03-07 05:50] zhangchiqing opened #45 "can't add web3 as dependency"
I have the following environment:
[code]

I created a new project with `stack new testweb3`, and added `web3` as dependency in `package.yaml` like this:
[code]

And when I ran `stack build`, I got the following error:
[code]

[2018-03-07 19:03] aupiff commented on #45
@zhangchiqing you have to follow the instructions given in the error message, namely to specify a version number in `extra-deps` or `dependencies` (you probably should be using `extra-deps`). The version available on hackage right now is quite old. I recommend that you point to a recent git hash in your `package.yaml` or `stack.yaml` in the `packages` list.

@akru I see on hackage that the latest

[2018-03-07 19:08] akru commented on #45
@aupiff Currently I prepare release with lots of changes and of course upload it to hackage as it’ll finish.

[2018-03-16 07:24] #43 closed

[2018-03-16 07:25] akru commented on #42
Implemented in #47

[2018-03-16 07:25] #42 closed

[2018-03-29 22:20] aupiff commented on #10
I've been successfully signing code with some code that I have in a very messy branch here: https://github.com/aupiff/hs-web3/blob/offline-sign/src/Network/Ethereum/Transaction.hs#L37-L61

The issue is deciding how to sign transactions that are generated by `TH.hs`; currently, I've changed `funWrapper` to generate functions that generate a `Call` type for non-constant abi methods. See:

https://gi

[2018-03-31 10:48] akru commented on #10
Hi!

Seems good, in my opinion we can detect preferred user transaction send method from ‘Provider’ data type. For example, like this:

data Provider = Provider {
  jsonRpc = JsonRpcProvider
  account = Maybe PrivateKey
}

If private key is set we can wrap methods in one way and sign txs by self but if it isn’t set - we try to sign txs via Jason-epic by ethereum node.

[2018-04-02 16:24] aupiff commented on #10
Sounds good, I'll try this approach.

[2018-04-04 09:15] cies opened #52 "Runtime specification of providers"
First: thanks for open source'ing this lib!

Now I'd like to specify a provider at runtime, but it does not seems to accept that since providers need to be instances of `Provider`, which is a compile time thing (right?).

What would be a good place to hook into the internals of the lib to accomplish this? Or would it be possible to expose a function that allows me to specify a provide at runtime?

[2018-04-04 22:04] akru commented on #52
Tiny JSON-RPC client will be open in future release.

About Provider - it’s not fully truth, currently, Provider is a data type and fields of this you can read in runtime as you needed. You can read Provider via IO and pass it to runWeb3 function, for example.

[2018-04-05 08:00] cies commented on #52
You mean to split it out of Web3?

I understood that I can read `Provider`s as runtime, but I'd like to specifically create them at runtime. AFAIK that is not possible.

For now I've forked the code base and made `JsonRpc` visible. I rather collaborate on a piece of code like this then create an alternative lib. When I add functionality that makes sense to include in `web3` I will discuss it there

[2018-04-05 08:01] cies commented on #52
For sake of completeness: https://github.com/cies/hs-web3/commit/71b2af6fc410628ad5b8deeb8ce6f7b872f821b9

[2018-04-05 08:38] akru commented on #52
I'm not sure that one-file library currently is a good idea, tiny JSON-RPC client implementation is independent now but I like to use it in bundle of web3.

Can you explain use cases for Provider creation in runtime? In code, for example, as you like to see it in library.

[2018-04-05 10:35] cies commented on #52
Sure. I want to use a config file to specify several nodes (some geth some
parity) and have my program manage them (check health, possibly
adding/removing nodes at runtime) and act as a single point of interaction
with all of them.

On Thu, Apr 5, 2018 at 10:38 AM, Alexander Krupenkin <
notifications@github.com> wrote:

[2018-04-05 18:56] akru commented on #52
As I see you need some kind of providers pool and abstraction for using it as single Provider, right?

[2018-04-06 10:20] cies opened #53 "Reason for "nonce" not to be in the Call record?"
I found "none" missing in the `Call` record (used by `sendTransaction`). Is there a reason for this, could just be there as a `Maybe Text` I suppose...

[2018-04-06 14:50] cies opened #55 "Geth's types or "our" types?"
Sorry for bothering you once again (3rd ticket in a short while, but also ticked one TODO off with a PR :tada: )...

This issue I'm raising is a bit of a philosophical one. Currently the types that are defined in hs-web3 are a bit of a mix of the "logical" types, and the Geth's types.

For instance geth defined QUANTITY, and can sometimes be 0x0 with special meaning or null with special meaning. S

[2018-04-06 20:15] akru commented on #55
It’s really very interested question! And it have some correlation with #15.

In my opinion in library we have two interfaces: low-level is a raw projection of generic json-rpc interface of ethereum node, and high level is a contract abstraction.

In my opinion, json-rpc should be equal to specification as possible, and high level contract interface should be equal to contact ABI types as possible

[2018-04-06 20:25] akru commented on #53
Yes, you absolutely right, it can be added according to specification: https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sendtransaction

[2018-04-07 20:53] aupiff commented on #53
I'll add this in the PR I'm working on to enable offnode signing. In my current implementation I'm passing nonce as an additional parameter to a `createRawTransaction` function but that is clearly not ideal.

[2018-04-20 21:52] akru commented on #35
Currently Appveyor build for Win32 correctly:
https://ci.appveyor.com/project/akru/hs-web3/build/0.6.0.0-190

[2018-04-20 21:52] #35 closed

[2018-04-22 14:16] akru commented on #38
Chosen another approach, Event typeclass is deprecated.

[2018-04-22 14:16] #38 closed

[2018-04-25 14:09] #55 closed

[2018-04-25 14:12] akru commented on #52
@cies, as you can see in new release JSON-RPC client are separated. Can you explain what you want to do in this issue?

[2018-04-25 14:14] akru commented on #45
Hello @zhangchiqing, I glad to say than new hs-web3 release should solve this issue.
Also I waiting for stackage to add web3 to stack nightly and LTS.

[2018-04-25 14:14] #45 closed

[2018-05-01 18:32] aherrmann opened #57 "`abiFrom` can produce illegal variable names"
`abiFrom` produces invalid Template Haskell splices when the contract has methods whose name is a Haskell keyword (`import`, `let`, `module`, `where`, ...) causing an "Illegal variable name" error "when splicing a TH declaration".
Would it be possible to escape such names, or allow the caller to pass in a renaming function?

[2018-05-01 19:37] akru commented on #57
Yes, you are right, as I see currently generated names have no escape checks. But it is sensitive trouble for contract method helpers  only, because all variables generated randomly via ‘newName’ and type names are not affected.

I’ll add method name escaping in future releases.

[2018-05-01 21:59] akru commented on #57
Implemented in v0.7.1.0

[2018-05-01 21:59] #57 closed

[2018-05-01 22:13] #52 closed

[2018-05-01 22:15] akru commented on #10
Hello @aupiff! Do you have any updates? Can I plan to integrate your feature in future release?

[2018-05-02 02:30] blinky3713 opened #58 "What happened to the live test suites?"
I saw a notice in the change logs that mentioned that you are no longer running the live test suites as part of CI? I have reason to believe whatever modifications you have made to this library have broken something with event monitoring. I assume you are still running these tests because they are important, but the normal way we set it up with a truffle deployment then testing the web3:live test

[2018-05-02 04:12] akru commented on #58
Good day, @blinky3713!

Yes, custom setup was removed in release 0.7, because it was too complicated and makes difficulties for Hackage deploy. But no, live testing is still running in travis ci as you can see in last [builds](https://travis-ci.org/airalab/hs-web3/builds/373663683). I known it's very important.

I replace custom setup by only one `.travis.yaml` string: https://github.com/airalab/h

[2018-05-02 07:00] aherrmann commented on #57
@akru Thanks for resolving this issue so quickly.

[2018-05-02 12:31] akru commented on #10
Thank you for your contribution @aupiff! Have a nice day!

[2018-05-07 17:43] aherrmann opened #60 "`getTransactionReceipt` fails with parser error."
With parity 1.9.5 I find that the `status` field of the transaction receipt is `Null`, even if the logs field indicates that a block was mined. This causes an Aeson parser error, because the corresponding field in `TxReceipt` has type `Quantity`. Maybe it should be changed to `Maybe Quantity`?

[2018-05-08 09:00] #60 closed

[2018-05-08 17:56] aupiff commented on #53
@akru you fixed this in commit afcb8cc8536ed042378e263ffc6595223c3fface, you can close this.

[2018-05-08 20:00] akru commented on #53
Yes, thank you @aupiff!

[2018-05-08 20:00] #53 closed

[2018-05-10 15:02] aherrmann opened #62 "Deploy contract from hs-web3"
Would it be possible to add functionality to deploy contracts from within `hs-web3`?

I found [this StackExchange post](https://ethereum.stackexchange.com/questions/10862/deploying-contract-with-constructor-arguments-via-geth-rpc) quite helpful in figuring out the necessary steps.

I haven't thoroughly tested the deployed contracts, but the following steps seem to be working on parity v.1.9.5 (the

[2018-05-10 15:41] akru commented on #62
Hello @aherrmann!
Yes, I already keep in mind contract deployment feature for hs-web3 long time.
In my vision it can be implemented in pair with [hs-web3-solidity](https://github.com/airalab/hs-web3-solidity).

In my opinion, implementation consist of two phases:
1. Contract deployment function in Ethereum.Contract.Method (deployed contract address tracker)
2. TH generator for contract deployment

[2018-05-13 22:44] DanBurton opened #63 "web3-0.7.2.0 test suite build failure (from tarball)"
It seems that some test suite files are missing from the web3 hackage tarball. This can usually be addressed by list the files under `extra-source-files` in `web3.cabal`

[code]

I was able to reproduce this locally like so:

[code]

[2018-05-13 22:58] akru commented on #63
It’s not mistake because this files generated by external tool before testing. Also some kind of testing environment required for ‘live’ tests.

Preparation commands from Travis CI script:
script:

- docker run --rm -d -p 8545:8545 foamspace/cliquebait:latest && sleep 30
- export EXPORT_STORE=.detected-contract-addresses && cd test-support && truffle deploy && ./convertAbi.sh && ./inject-contract-

[2018-05-13 23:17] DanBurton commented on #63
Ah, ok, thanks for the explanation. The stackage build/test process doesn't support custom prep commands, so we'll leave it marked as an expected "failure."

[2018-05-13 23:17] #63 closed

[2018-05-18 05:15] #58 closed

[2018-05-21 22:19] ivanovs-4 opened #65 "Error in parsing jsonrpc server response"
[code]

Also for method `getTransactionByHash`:
[code]

[2018-05-21 22:57] akru commented on #65
Hello!

Thank you for reporting!

Can you provide some debug info, like a client version / chain and rpc call output via curl:

curl -X POST --data '{"jsonrpc":"2.0","method":"eth_getTransactionByHash","params": [ “HASH” ],"id":1}' http://localhost:8545 -vvv

[2018-05-21 23:12] ivanovs-4 commented on #65
[code]

[2018-05-22 13:23] #65 closed

[2018-05-22 19:26] #10 closed

[2018-05-22 19:30] akru commented on #10
Ok, I merge #61 and currently work on big release around hs-web3 accounts (like [web3py accounts]( https://web3py.readthedocs.io/en/latest/web3.eth.account.html)).

Thank you for your work, @aupiff!

[2018-05-23 16:12] akru commented on #41
Nice! It would be very good.

[2018-05-23 18:20] blinky3713 opened #69 "This library's types are getting harder and harder to use in practical applications"
It seems like the types are getting more and more bound to the EVM and it makes this library a pain to use. For example, now `Address` is `UIntN 160` and there's no functions like

[code]

only the `fromString` method which throws an exception if it fails. These kinds of things used to be there, but for some reason you've taken them out. Now in order to make an address I need to import some low le

[2018-05-23 18:51] akru commented on #69
It's not exactly truth, both a `Address` and a `Bytes` types have `FromJSON` instances and you can use Aeson codecs if you need text conversions like in your example.

The question about types already was in #55 and I can repeat: low level API should be equal to [Generic JSON-RPC](https://github.com/ethereum/wiki/wiki/JSON-RPC) and EVM related types should be equal to EVM specs. It's my vision. Ha

[2018-05-23 19:07] blinky3713 commented on #69
We're in agreement about the types which support the JSON RPC spec, but that's not really how it's being implemented. Your Web3.Types module is dependent on the EVM types. eg.

[code]

Concretely I have another Haskell stream processing service consuming input from this library, and none of these types can be operated on without wrapping or converting them. It also just seems  like the dependencie

[2018-05-23 20:03] akru commented on #69
Yes, FOAM team made a great contribution for the library, thank you.

Some words about databases.
Your analogy is not exactly complete and I see here big differences in our visions, you say that JSON-RPC API is an abstraction above a database schema, like ORM maybe, BUT JSON-RPC API is very low-level, it's ethereum node interaction interface, it's more looks like SQL. Low-level api may be changed

[2018-06-21 11:46] aherrmann opened #72 "Unsigned integer bounds and overflow"
I noticed a few issues with the unsigned integer type `UIntN`.

- `maxBound :: UIntN 256` is too small.
[code]
    The reason is that `maxBound :: UIntN 256` is effectively implemented as `2^256 - 1 :: UIntN 256`.
    The `2^256` will overflow leading to `0 - 1`. The subtraction uses the implementation of the underlying `Word256` from basement, which (surprisingly) seems to be using one's compleme

[2018-06-21 15:49] akru commented on #72
Hi @aherrmann thank you for reporting! Do you have any ideas how to fix it?

[2018-06-28 17:19] aherrmann commented on #72
@akru I've opened a PR (https://github.com/haskell-foundation/foundation/pull/498) with foundation. That one should fix the subtraction and `maxBound`.

Wrt over/underflow on smaller width unsigned integers, a simple solution might be to always mask the bits after operations that could over/underflow. E.g. something like

[code]

[2018-07-05 09:41] locosoft1986 opened #75 "Code does not sync with Hackage and Stackage's documents"
The current source code api does not sync with Hackage and Stackage's documents. It seems like the documents is at tag 0.7.3.0.  I have to install web3 dependency from git repo directly.

[2018-07-05 22:14] zhangchiqing opened #76 "Can't connect to infura"
I'm trying to connect to infura and get the gas Price with the following request. (The API key is removed)
[code]

But I got the following exception: (The path is showing the API_KEY, I removed it, but you can reproduce by using your own key)
[code]

Stackage version: lts-11.16

Do I miss anything?

[2018-07-05 22:29] akru commented on #76
HTTPS connections are use TLS and it is disabled by defaul in hs-web3. try to build web3 with ‘tls’ flag
https://www.haskell.org/cabal/users-guide/installing-packages.html#controlling-flag-assignments
https://github.com/commercialhaskell/stack/blob/master/doc/yaml_configuration.md#flags

[2018-07-05 22:32] akru commented on #75
Yes your are absolutely right, because master branch is not fixed to latest release, it looks like a future release and in some time I fork master branch for specified release version - a tag.

[2018-07-05 22:33] zhangchiqing commented on #76
Is it possible to support TLS by default in the future?

Infura is a common choice for connecting to a geth node, and their JSONRPC API only supports HTTPS.

[2018-07-05 22:52] zhangchiqing commented on #76
Adding the following code in `stack.yaml` worked. Thanks @akru.
[code]

[2018-07-05 22:52] #76 closed

[2018-07-06 03:37] locosoft1986 commented on #75
when I use the following code in the GHCI to connect with my Ganache local test net:
`
import Network.Ethereum.Web3.Provider
import Network.Ethereum.Web3

localNode = Provider (HttpProvider "http://localhost:7545") Nothing

result = runWeb3' localNode clientVersion
`

and type "result" then hit enter to show the value, I got:
`
*** Exception: ParsingException "Error in $: Failed reading: not a val

[2018-07-10 10:30] #75 closed

[2018-07-28 07:52] sigrlami opened #78 "Problem accessing transfer calls"
I have smart- contract like this

[code]
which I'm accessing from `hs-web3` through Parity like

[code]

But all out transactions in `distributeTokens` got failed. I'm I doing wrong calls wrongly? How can I explicitly set parameter for `constructor`?

[2018-07-28 19:30] akru commented on #78
Could you paste the error message?

About constructor: unfortunately hs-web3 not support contract creation now.

[2018-07-29 21:18] sigrlami commented on #78
@akru thank you, already figured it out with another approach. Regarding contract creation, do you think this is nice feature to have in library?

[2018-07-29 21:18] #78 closed

[2018-07-29 22:15] akru commented on #78
Yes, it's greate feature and it's in future planning.

[2018-10-23 14:38] #72 closed

[2018-10-23 15:28] akru commented on #41
Implemented and will be released at v0.8
https://github.com/airalab/hs-web3/blob/master/src/Data/Solidity/Prim/Address.hs#L29

[2018-10-23 15:28] #41 closed

[2018-10-23 15:31] #62 closed

[2018-10-24 21:16] #69 closed

[2018-11-02 20:37] akru opened #83 "WebSockets subscriptions provider"
Implements WebSockets provider support for [Pub/Sub Ethereum API](https://github.com/ethereum/go-ethereum/wiki/RPC-PUB-SUB).

[2018-11-02 20:42] akru opened #84 "FromJSON/ToJSON instances for solidity primitive types"
For simple JSON encoding any solidity related type should have `FromJSON` and `ToJSON` instance. In first view `UIntN` type have no.

Solidity primitive type check list:

- [ ] Address
- [ ] Bool
- [ ] Bytes
- [ ] BytesN
- [ ] IntN
- [ ] UIntN
- [ ] List
- [ ] ListN
- [ ] String
- [ ] Tuple
- [ ] OneTuple

[2018-11-02 20:44] akru opened #85 "Arbitrary instances for Solidity primitive types"
To help testing functions with solidity types as arguments should be created [Arbitrary](https://hackage.haskell.org/package/QuickCheck-2.11.3/docs/Test-QuickCheck-Arbitrary.html#t:Arbitrary) instance.

Solidity primitive type check list:

- [ ] Address
- [ ] Bool
- [ ] Bytes
- [ ] BytesN
- [ ] IntN
- [ ] UIntN
- [ ] List
- [ ] ListN
- [ ] String
- [ ] Tuple
- [ ] OneTuple

[2018-11-02 20:52] akru opened #86 "Whisper v6 support"
Adding full support for Whisper v6 protocol API. It partially implemented in `whisper` branch but not fully tested.

[2018-11-02 20:57] akru opened #87 "Make Ethereum crypto functions compatible to web3.js"
Current implementation of `ecsing` and `ecrecover` is incompatible by returned types to Web3.js  https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html#sign.

[2018-11-02 21:00] akru opened #88 "Add escape params for TemplateHaskell generator"
In #68 proposed adding to TH custom escaping but it would be better to make generalized param for escape sequences in `abi` and `abiFrom` functions.

[2018-11-07 08:11] romankarl opened #89 "Gas estimation is called even when gas limit is explicitly set"
If I've seen it correctly, there is a new feature in version 0.8.x to estimate the gas consumption of a transaction before submitting it. Setting the gas limit explicitly doesn't change this behaviour. This seems to be undesired, as a gas estimation for a valid transaction can fail in some cases, and thus preventing the execution of the transaction altogether.

[2018-11-07 08:46] akru commented on #89
Thank you for reporting! You are absolutely right, gas estimation should be disabled when gas limit already set. I’ll check and fix it ASAP.

[2018-11-07 10:38] #89 closed

[2018-11-07 10:42] akru opened #90 "Hashable instances for Solidity primitive types"
It's very useful to have [Hashable](http://hackage.haskell.org/package/hashable) instance for Solidity primitive types.

Solidity primitive type check list:

- [ ] Address
- [ ] Bool
- [ ] Bytes
- [ ] BytesN
- [ ] IntN
- [ ] UIntN
- [ ] List
- [ ] ListN
- [ ] String
- [ ] Tuple
- [ ] OneTuple

[2018-12-13 21:02] akru commented on #87
Fixed in https://github.com/airalab/hs-web3/commit/cb425dff5d53ed97bf21dfebf059157190145a1a

[2018-12-13 21:02] #87 closed

[2019-07-30 07:16] amany9000 opened #94 "IPFS API Client"
Considering that IPFS and Ethereum are being readily integrated these days. It would be very useful to have an IPFS API Client for hs-web3.
t could be base on [js-ipfs](https://github.com/ipfs/js-ipfs) 's [HTTP Client](https://github.com/ipfs/js-ipfs-http-client).

[2019-09-05 19:44] blinky3713 opened #95 "Why are you not reusing the request manager"
We made this PR a long time ago https://github.com/airalab/hs-web3/pull/47, the whole point was to avoid creating a new TLS manager on every runWeb3 call. Now I'm looking at source code on hackage and I'm finding that

[code]

I would like to point out that creeating a new TLS manager is needlessly expensive, which is the original reason for the first PR. There are two possibilities here

(1) lazi

[2019-09-06 02:23] akru commented on #95
Hello @blinky3713,
I think it’s a good point! Thank you, it could be fixed next release.

[2019-09-16 09:50] akru commented on #95
Hello, @blinky3713! I'm sorry for late response.

As I can see the reason why `Manager` created in any response is lazy fields in [JsonRpcClient](https://github.com/airalab/hs-web3/blob/master/src/Network/JsonRpc/TinyClient.hs#L91) data type, right? Probably making this fields strict could fix this issue.

[2020-04-30 08:08] #95 closed

[2020-05-15 23:48] #94 closed

[2020-05-24 05:31] akru commented on #83
JSON-RPC WebSocket provider implemented in `v0.9.0.0`.

[2020-06-18 14:22] mudgen opened #97 "Support for Diamonds"
It would be great if hs-web3 provided support for deploying and upgrading diamonds. The Diamond Standard is here: https://github.com/ethereum/EIPs/issues/2535

"A diamond is a set of contracts that can access the same storage variables and share the same Ethereum address."

Here is an example of a tool (in Python) that helps manage diamonds: https://github.com/lampshade9909/DiamondSetter

Blog pos

[2020-06-18 14:43] akru commented on #97
Hi @mudgen!
Thank you for your proposal, this really looks good!
Unfortunately, I'm not sure that will have time soon but I will happy to review if someone implements it.

[2020-06-18 14:56] mudgen commented on #97
@akru I understand. Thank you!

[2020-08-26 22:24] enolan opened #98 "ABI parser: don't require "constant" and "payable" fields, rely on "stateMutability" instead"
As of [Solidity 0.5.0](https://solidity.readthedocs.io/en/develop/050-breaking-changes.html#command-line-and-json-interfaces), it doesn't output those fields anymore. Software is supposed to parse `"stateMutability"` instead. So the library can't read ABIs generated by solidity versions more recent than November 2018.

[2020-10-10 09:18] blombern commented on #98
Is there any intention to fix this? I'm looking to use this library for a project, but it seems that this bug is the reason I can't generate client code for the Uniwap RouterV2. I'd love to help but unfortunately, I'm not familiar with Template Haskell or the inner workings of Ethereum (yet).

[2020-10-11 21:55] akru commented on #98
Hello @blombern, if no one apply this, I’ll fix it during a week or two in coming release. Thank you for using the library.

[2020-10-20 19:31] alexfmpe commented on #98
FWIW `payable` doesn't seem to be required, only `constant`.
Hit this as well and did the simplest change I could to get it working for my use case - https://github.com/obsidiansystems/hs-web3/commit/dac02c09595c5aa47d3e124369d2006e41134b96
For backwards compatibility it should also probably fallback to `constant` / `payable` I think?

[2020-10-21 07:09] #83 closed

[2020-12-15 22:35] o1lo01ol1o commented on #98
Any update on this?

[2020-12-16 01:53] akru commented on #98
@alexfmpe I guess it's not a problem to bump the minimum solidity version to 0.6+, for code safety reasons it also could be reasonable.

@o1lo01ol1o I'm working on the release, I'll glad for any help, for example, PR with changes https://github.com/obsidiansystems/hs-web3/commit/dac02c09595c5aa47d3e124369d2006e41134b96.

[2020-12-16 02:01] alexfmpe commented on #98
Not sure I understand. Should I PR the changes in that commit, or should I apply changes to what I have and then PR?

[2020-12-16 02:45] alexfmpe commented on #98
On second thought, my question doesn't really make sense
Opened https://github.com/airalab/hs-web3/pull/102

[2020-12-16 05:58] akru commented on #98
Great, thank you @alexfmpe! I'll release it as it will be ready to publish.
As you can see, the library will be splitter to many packages from the next release, probably Ethereum-related staff could be published soon if needed, but in my opinion better to publish the whole library release in the same time.

[2020-12-16 10:08] o1lo01ol1o commented on #98
#102 Still lacks backward compat as evinced by the failure to compile the example here: https://github.com/airalab/hs-web3/runs/1561894819.

Bumping minimum solidity to 0.6 might be a bit premature as, eg, Uniswap appears to publish some factory abi specs using an earlier verion.

[2020-12-16 12:28] akru commented on #98
I see, in that case is better to provide some way to use old solidity abi.

[2020-12-16 14:54] alexfmpe commented on #98
Fallback to old parsing if `stateMutability` isn't present then?

[2020-12-16 16:36] akru commented on #98
Yes, it looks reasonable. Or using the special function name for importing legacy solidity ABI versions.

[2020-12-16 19:41] alexfmpe commented on #98
See #103

[2021-01-18 13:36] #98 closed

[2021-01-21 16:37] o1lo01ol1o opened #105 "Uncaught execption in JSON-RPC with Geth"
[code]

In the event of insufficient funds, the above will throw an uncaught exception:

[code]

 This is using geth 1.9.24-stable on Ropsten:

[code]

[2021-05-04 08:56] akru commented on #105
@o1lo01ol1o Thank you for report Tim, expected behaviour is `Left "error message"` right?

[2021-05-04 16:33] o1lo01ol1o commented on #105
Yes, I would expect to see geth's error message.

[2021-06-02 21:05] jetaggart opened #109 "Recover signer"
How would I recover the signer from a signed message as seen here: https://ethereum.stackexchange.com/questions/2660/how-can-i-verify-a-signature-with-the-web3-javascript-api?

Is this possible with this lib locally or do I have to run this through a node as seen here: https://github.com/airalab/hs-web3/blob/e6719ae384d2371a342f03afa3634921f4a8cd37/packages/ethereum/src/Network/Ethereum/Api/Person

[2021-06-03 03:33] akru commented on #109
Hello, unfortunately ECDSA recover function isn’t implemented yet, in future it could be located in https://github.com/airalab/hs-web3/blob/master/packages/crypto/src/Crypto/Ecdsa/Signature.hs

According to your example, I’m not sure that Ethereum node exports personal_ecRecover method.

As temporary workaround you could deploy or use already existed smart contract with ecRecover method.

[2021-06-03 13:50] psylinse commented on #109
Okay thanks, wanted to make sure I wasn't missing something. I don't have the cryptographic chops to write that function unfortunately or I'd take a stab.

You're right, I doubt any nodes export that function, it doesn't make sense.

Thanks for the workaround, that's a great idea!

[2021-06-11 21:03] psylinse commented on #109
In case anyone is wondering how to do this with @akru's suggestion, this is what I came up with. I deployed this smart contract:

[code]

I signed a message in the client via web3:

[code]

Then validated the signer is correct on the backend via the smart contract:

[code]

I'm not 100% on the security of this, so use it as a jumping off point. I struggled with this so probably some simplification

[2021-06-12 01:40] akru commented on #109
Thank you @psylinse! Feel free to enhance hs-web3 docs: https://hs-web3.readthedocs.io
Your samples look like a good section of the troubleshooting page.

[2021-06-12 16:02] jetaggart opened #110 "Latest Stackage"
Any chance of getting this on the latest stackage lts?

[2021-06-12 22:35] akru commented on #110
Should works, feel free to report build issues

[2021-06-12 22:36] akru commented on #110
All the changes is resolver here https://github.com/airalab/hs-web3/blob/master/stack.yaml#L2 or in stack argument

[2021-07-09 21:10] #110 closed

[2021-07-14 16:37] gromakovsky opened #112 "Releasing on Hackage or adding .cabal files to the repo?"
We are using packages from this repo as dependencies in one project that we build with `stack`. It produces a lot of such messages:
[code]

Currently it works, but as you can see this workflow is deprecated and will be removed in the future.
Also AFAIU the new version of this package (which is now split into many packages) is no longer on Hackage, so the only possible way to use it is as a git dep

[2021-07-31 10:18] akru commented on #112
Hi, @gromakovsky I hope to publish the 1.0 release into Hackage already split to many packages when the functionality of web3-polkadot package will be stabilized (est. September).

Using git version is very usefull I guess, feel free for open PR that enables that functionality.

[2021-09-29 16:43] o1lo01ol1o opened #114 "EIP712 / signTypedData support"
Is there any planned support for signing typed data following EIP712?

[2021-10-05 20:58] adithya70 commented on #84
hi is the issue still active can i work on it...?

[2021-10-05 20:59] adithya70 commented on #84
hi is the issue still active can i work on it...?

[2021-10-05 23:33] akru commented on #114
That sounds like a good feature, if some one implements it that would be great!

[2021-10-11 15:41] acemasterjb opened #115 "Creating a LocalKey instance"
Hello, so I hope I'm using the appropriate title for my issue.

I would like to sign transactions using my private key, but I'm not sure how exactly to do so.

I noticed there is a `LocalKey` data type that is constructed using a `PrivateKey` and `Integer` type. The latter is straight forward, but I'm not sure what is the best way for initialising this type from a `String` or `IO String` type.

Ca

[2021-10-11 17:31] #115 closed

[2021-10-12 16:18] acemasterjb opened #116 "More examples or better explanation on how to make contract calls"
I'm at a total loss as to how make a contract call, and the only way to make a transaction from what I can tell is to use `withAccount` with `withParam` which according to the docs is not the only option.

How can you use `call` or `send`? What params are needed? The docs state that

But what does that mean, how can we set the account context, how do you se the transaction parameters before invoki

[2021-10-13 09:17] worm2fed opened #117 "London hard fork support"
Hi!

Here is good article with changes after London hard fork.
https://medium.com/geekculture/ethereum-london-hard-fork-what-will-change-a20b3461381a
One of the main changes, as I understand, - is new transactions with another fee calculation.

So, is it in plan to update `hs-web3` accordingly to London changes?

[2021-10-13 19:58] acemasterjb commented on #116
Thanks for getting back to me @akru, I am aware of this method of making function calls, however, I am unable to do a

[code]
and by extension, only this works for me
[code]

but it creates a tx when I would like to only make a call/run a getter function.

I do not have issues with constants, like in your example when using `withAccount (LocalKey ...)`. Only calls.

[2021-10-24 20:45] #116 closed, assigned to nobody

[2021-11-10 16:53] domenkozar commented on #112
I'm currently planning to vendor-in web3-jsonrpc (that's weird name since it's not specific to web3), are there still plans to release it to hackage?

[2021-11-10 21:53] domenkozar commented on #112
I've released it under [jsonrpc-tinyclient ](https://hackage.haskell.org/package/jsonrpc-tinyclient), I'm happy to transfer maintenance or delete it once you're ready on your side.

[2021-11-11 02:43] akru commented on #112
Hello @domenkozar, glad to see you here!

So, the name decided to have `web3` prefix just because it’s part of Haskell Web3 library. But your proposal is better, I’m agree. I’ll be happy if you will maintain it and support release process. I’ll change package name here to suits your hackage location.

I’ll continue development on this repository, is it ok?

[2021-11-13 00:37] domenkozar commented on #112
Hey @akru thanks!

At the end I didn't decide to use jsonrpc, because the client is of synchronous nature and I need async support in order to not miss any messages.

Going with a custom protocol was easier :)

Maybe I regret that and help turn it into something a bit more generic.

[2021-11-13 00:41] akru commented on #112
I see, no problem @domenkozar

[2021-12-12 17:40] pkozakowski opened #120 "Inifinite loop in Network.Ethereum.Account.getReceipt"
In the current implementation of `Network.Ethereum.Account.send`, the call blocks until the transaction goes through or reverts. This is done using `getReceipt`, which queries the node for the status of the transaction in an infinite loop.

That's a problem if the gas price was underestimated - then the call blocks indefinitely. I'm currently having this issue on Polygon. I would like to be able t

[2021-12-13 04:00] #109 closed

[2021-12-13 04:59] akru commented on #120
Thank you @pkozakowski for your report!
Yes, loop is not that we want to have in our code, right. Feel free to share your ideas how can we escape it. May be some timeouts?

[2021-12-13 05:01] akru commented on #120
What’s about to use IO wait helpers code from threading libraries? It’s already implements blocking IO wait logic.

[2021-12-13 23:34] pkozakowski commented on #120
There's also [`timeout`](https://hackage.haskell.org/package/base-4.16.0.0/docs/src/System.Timeout.html#timeout) which does the same thing but abstracts out threads. How about this plan:

1. Add field `_timeout :: Maybe Integer` to [`CallParam`](https://github.com/airalab/hs-web3/blob/master/packages/ethereum/src/Network/Ethereum/Account/Internal.hs#L42) specifying the timeout in seconds or milise

[2021-12-15 08:04] akru commented on #120
Good plan, let's extend our state by `timeout` parameter. We probably don't need `timeout` functions, argument to `getReceipt` works well. Just user recursive decrement for this parameter on each `getReceipt` iteration.

One funny thing is we already have TODO for this bug few years ago:

https://github.com/airalab/hs-web3/blob/master/packages/ethereum/src/Network/Ethereum/Account/Internal.hs#L125

[2021-12-28 20:00] gromakovsky commented on #112
@akru do you still plan to release packages to Hackage? If yes, do you have a new estimate for that?

[2021-12-29 12:18] akru commented on #112
Great, thank you for remind me @gromakovsky! I’ll do it on winter holidays if no issues on the way. In that case estimation is January 2022.

[2022-01-20 08:26] kk-hainq commented on #112
This is also a core dependency of our project, thanks!

We would love to have it on Hackage or add the cabal files, and are willing to contribute in any way to achieve it!

[2022-01-25 09:19] akru commented on #112
Hi @kk-hainq, glad to see you, project uploaded to Hackage!
@gromakovsky https://hackage.haskell.org/package/web3-1.0.0.0
I'll happy to see your bug reports or any other contribution!

@domenkozar could you release `jsonrpc-tinyclient` package name please, or feel free to maintain it if you wish.

[2022-01-26 08:01] kk-hainq commented on #112
@akru Awesome, thank you! Also, will it be possible to get the rest of the packages (`web3-hexstring` and friends) to Hackage?

[2022-01-27 08:45] akru commented on #112
@kk-hainq other packages also published, just look to some renames like `web3-hexstring -> memory-hexstring` and `web3-jsonrpc -> jsonrpc-tinyclient`.

[2022-01-27 08:46] #112 closed

[2022-02-08 22:57] pkozakowski commented on #120
Sent a PR, see above. Sorry it took so long.

[2022-02-12 18:21] Dessix opened #125 "Incompatibility with GHC 9.*"
I'm not sure how to fix this or I'd submit a PR, but on GHC 9.2.1 via stackage `resolver: nightly-2022-02-01` I hit the below log when compiling, but not on 8.x:

[code]

[2022-02-14 01:55] Dessix commented on #125
Adjusted the title to `9.*` as `9.0.1` produces the above errors; 9.2.1 isn't even available on stackage somehow, but overriding with `compiler: ghc-9.2.1` in `stack.yaml` produces a lot of other issues- including revealing that the dependency `animalcase` hasn't been maintained since 2014.

[2022-02-14 02:37] Dessix commented on #125
Having spent the last half hour trying to figure out what all is involved- this, it looks like a switch to `cabal-install` instead of stack would simplify versioning greatly, since this is library code, and snapshots tend to be an antipattern there.

Regardless, I've determined a few parts that need updated:
- `base` must include `4.16`
- `animalcase` dependency should be removed due to lack of ma

[2022-03-16 18:08] srghma opened #127 "Alternative implementation for packages/solidity/src/Data/Solidity/Abi/Generic.hs"
https://github.com/airalab/hs-web3/blob/master/packages/solidity/src/Data/Solidity/Abi/Generic.hs

this is how I have implemented it in purescript

[code]

[2022-03-16 18:11] srghma commented on #127
https://github.com/srghma/purescript-web3/blob/d82af149528a5ec51b890c5eef719f28a6db95a8/src/Network/Ethereum/Web3/Solidity/Generic.purs#L52-L99

[2022-03-16 18:31] akru commented on #127
Thank you @srghma! Could you elaborate a bit more, for example, pros/cons of proposed implementation?

[2022-03-16 18:36] srghma commented on #127
@akru it should be faster and easier to understand

[2022-03-16 19:08] akru commented on #127
That sounds good, could you prepare PR with refactored generics?

[2022-04-01 06:56] Malikiah opened #130 "There seems to be errors with the package when installing it via stack"
When I try to do a stack install web3 I get these 4 errors. I am unsure if it is a mistake on my end or something going on with the package.
[code]

[2022-05-02 16:06] #120 closed

[2022-05-02 16:08] akru commented on #130
Hi @Malikiah, what slack LTS version is used?

[2022-05-02 16:08] akru commented on #127
Merged, great job @srghma, thank you!

[2022-05-02 16:08] #127 closed

[2022-05-05 00:21] Malikiah commented on #130
When I type stack --version this is what I get,
Version 2.7.5, Git revision ba147e6f59b2da75b1beb98b1888cce97f7032b1 x86_64 hpack-0.34.4

[2022-05-05 00:23] Malikiah commented on #130
I am using arch linux and I had used the pacman package manager to install stack. Should I be using a different version. Github shows it as the most recent version.

[2022-06-17 15:43] Malikiah commented on #130
Yeah so that was the fix... Is there some where I missed that said I needed it to be on that version?

[2022-06-17 15:53] #130 closed

[2022-07-02 08:37] dhruvio opened #132 "Fix how indexed event parameters of dynamically-sized types are handled"
## Description

When an event has an indexed parameter of type `bytes`, the `abi` and `abiFrom` template Haskell helpers produce `Tagged n Bytes` types inside an event's `*Indexed` and event types. Instead, they should produce `Tagged n (BytesN 32)` types for these indexed parameters instead given the [documentation](https://docs.soliditylang.org/en/v0.8.13/abi-spec.html#indexed-event-encoding) st

[2022-07-29 18:19] akru commented on #132
Thank you for report, I guess it fixed in https://github.com/airalab/hs-web3/pull/131

[2022-09-07 13:24] #125 closed

[2022-09-28 02:09] RubenAstudillo commented on #84
I think this is related to [this PR](https://github.com/airalab/hs-web3/pull/136)